<div id="<%= dom_id chat_room %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Title:</h4>
    <p class="leading-none"><%= chat_room.title %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Description:</h4>
    <p class="leading-none"><%= chat_room.description %></p>
  </div>
</div>
